Schemas/movie.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"             
            targetNamespace="NFOStandard"
            xmlns="NFOStandard"           
            elementFormDefault="qualified"
            version="1.0">

    <xs:annotation>
        <xs:documentation>
            NFOStandard Movie Schema v1.0
            
            This schema defines the structure for movie metadata according to the NFOStandard specification.
            It includes all common movie fields such as title, cast, crew, ratings, and technical information.
            
            For more information, visit: https://nfostandard.com
        </xs:documentation>
    </xs:annotation>
    
    <xs:include schemaLocation="https://xsd.nfostandard.com/Schemas/common.xsd"/>
    <xs:include schemaLocation="https://xsd.nfostandard.com/Schemas/person.xsd"/>
    
    <xs:complexType name="MovieType">
        <xs:annotation>
            <xs:documentation>
                Complete movie metadata including cast, crew, technical details, and content ratings.
                Supports international releases with multiple titles, ratings, and regional information.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="title" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        The primary display title of the movie. This is the main title shown to users.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="500"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="originaltitle" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        The original title of the movie in its original language before translation.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="500"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="sorttitle" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        An alternative title used for sorting purposes (e.g., "Matrix, The" for "The Matrix").
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="500"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="alternatetitle" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Alternative titles for the movie, including international release titles and working titles.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="500"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="rating" type="RatingType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Professional ratings from various rating providers (IMDB, TMDB, Metacritic, etc.).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="userrating" type="UserRatingType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        User's personal rating for the movie, typically on a scale of 1-10.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="outline" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        A brief one-line summary or outline of the movie's plot.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="1000"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="plot" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        The full plot summary or synopsis of the movie.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="10000"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="tagline" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        The movie's promotional tagline or slogan.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="500"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="runtime" type="RuntimeType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        The runtime of the movie in minutes.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="banner" type="MediaFileType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Banner artwork for the movie (typically wide format promotional images).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="thumb" type="MediaFileType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Thumbnail images including posters, lobby cards, and small promotional images.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="fanart" type="MediaFileType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Background artwork and fan art for the movie.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="contentrating" type="ContentRatingType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Content ratings from various rating boards (MPAA, BBFC, etc.) and countries.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="uniqueid" type="UniqueIdType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Unique identifiers from external databases (IMDB, TMDB, etc.).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="genre" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Movie genres (Action, Drama, Comedy, etc.). Use standard genre classifications.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="tag" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        User-defined tags for categorization and organization.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="setname" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Name of the movie collection or series this movie belongs to (e.g., "The Matrix Collection").
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="200"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="setoverview" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Overview or description of the movie collection or series.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="2000"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="country" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Countries involved in the production of the movie. Use full country names or ISO codes.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="2"/>
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="productioncompany" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Production companies that produced or distributed the movie.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="200"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="keyword" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Keywords related to the movie content, themes, or subject matter.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="releasedate" type="DateType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Release dates for the movie in different countries or contexts (theatrical, digital, etc.).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="award" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Awards and nominations received by the movie.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="500"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="subtitlelanguage" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Languages for which subtitles are available. Use ISO 639-1 language codes when possible.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[a-z]{2}(-[A-Z]{2})?"/>
                        <xs:minLength value="2"/>
                        <xs:maxLength value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="soundtrack" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Information about the movie's soundtrack or musical score.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="1000"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="parentalguide" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Detailed parental guidance information including specific content warnings.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="5000"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="actor" type="PersonType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Cast members who appear in the movie, including their character names and roles.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="director" type="PersonType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Directors responsible for the creative direction of the movie.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="writer" type="PersonType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Writers, screenwriters, and authors who contributed to the movie's script.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="composer" type="PersonType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Composers and musicians who created the movie's musical score.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="producers" type="PersonType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Producers who oversaw the movie's production and financing.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="collection" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Name of the movie collection this film belongs to (alternative to setname).
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="200"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="intro" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Timing information for the movie's introduction or opening sequence.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="start" use="required">
                                <xs:annotation>
                                    <xs:documentation>Start time in seconds</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:nonNegativeInteger">
                                        <xs:maxInclusive value="86400"/>  <!-- Max 24 hours -->
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                            <xs:attribute name="end" use="required">
                                <xs:annotation>
                                    <xs:documentation>End time in seconds</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:positiveInteger">
                                        <xs:maxInclusive value="86400"/>  <!-- Max 24 hours -->
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="credits" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Timing information for the movie's end credits sequence.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="start" use="required">
                                <xs:annotation>
                                    <xs:documentation>Start time in seconds</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:nonNegativeInteger">
                                        <xs:maxInclusive value="86400"/>  <!-- Max 24 hours -->
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                            <xs:attribute name="end" use="required">
                                <xs:annotation>
                                    <xs:documentation>End time in seconds</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:positiveInteger">
                                        <xs:maxInclusive value="86400"/>  <!-- Max 24 hours -->
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="chapter" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Chapter markers for the movie with optional names and timing information.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="name" use="optional">
                                <xs:annotation>
                                    <xs:documentation>Optional chapter name or title</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="100"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                            <xs:attribute name="start" use="required">
                                <xs:annotation>
                                    <xs:documentation>Chapter start time in seconds</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:nonNegativeInteger">
                                        <xs:maxInclusive value="86400"/>  <!-- Max 24 hours -->
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                            <xs:attribute name="end" use="required">
                                <xs:annotation>
                                    <xs:documentation>Chapter end time in seconds</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:positiveInteger">
                                        <xs:maxInclusive value="86400"/>  <!-- Max 24 hours -->
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>

        </xs:complexType>
   
</xs:schema>
