Schemas/tvshow.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="NFOStandard" 
            xmlns="NFOStandard"
           elementFormDefault="qualified"
           version="1.0">

    <xs:annotation>
        <xs:documentation>
            NFOStandard TV Show Schema v1.0
            
            This schema defines the structure for TV show, season, and episode metadata.
            It supports both series-level and episode-level information with flexible ordering systems.
            
            For more information, visit: https://nfostandard.com
        </xs:documentation>
    </xs:annotation>

    <xs:include schemaLocation="https://xsd.nfostandard.com/Schemas/common.xsd"/>
    <xs:include schemaLocation="https://xsd.nfostandard.com/Schemas/person.xsd"/>

    <xs:complexType name="TvShowType">
        <xs:annotation>
            <xs:documentation>
                Complete TV show metadata including series information, episode details, and alternative ordering systems.
                Can represent entire series, individual seasons, or specific episodes.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="title" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        The title of the TV show, season, or episode. For episodes, this is the episode title.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="500"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="originaltitle" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        The original title in the original language before translation.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="500"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="showtitle" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        The name of the TV series this episode belongs to (used for episode-level NFOs).
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="500"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="sorttitle" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        An alternative title used for sorting purposes.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="500"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="rating" type="RatingType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Professional ratings from various rating providers (IMDB, TMDB, TVDB, etc.).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="season" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Season number for episodes or season-specific metadata. Use 0 for specials.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="episode" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Episode number within the season. Required for episode-level NFOs.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:maxInclusive value="1000"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="altorder" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Alternative ordering systems (DVD order, production order, etc.) with different season/episode numbers.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="altseason" use="optional">
                                <xs:annotation>
                                    <xs:documentation>Alternative season number for this ordering system</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:nonNegativeInteger">
                                        <xs:maxInclusive value="100"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                            <xs:attribute name="altepisode" use="optional">
                                <xs:annotation>
                                    <xs:documentation>Alternative episode number for this ordering system</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:positiveInteger">
                                        <xs:maxInclusive value="1000"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                            <xs:attribute name="name" use="optional">
                                <xs:annotation>
                                    <xs:documentation>Name of the alternative ordering system (e.g., "DVD Order", "Production Order")</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="100"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="plot" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Plot summary for the show, season, or episode.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="10000"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="tagline" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Promotional tagline or slogan for the show.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="500"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="thumb" type="MediaFileType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Thumbnail images including posters, episode stills, and promotional images.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="fanart" type="MediaFileType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Background artwork and fan art for the show or episode.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="contentrating" type="ContentRatingType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Content ratings from various rating boards and countries.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="uniqueid" type="UniqueIdType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Unique identifiers from external databases (IMDB, TMDB, TVDB, etc.).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="genre" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        TV show genres (Drama, Comedy, Sci-Fi, etc.). Use standard genre classifications.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="tag" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        User-defined tags for categorization and organization.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="premiered" type="DateType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        The premiere date of the show, season, or episode.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="year" type="YearType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        The year the show premiered or the episode aired.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="status" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Current status of the show (e.g., "Continuing", "Ended", "Cancelled", "Hiatus").
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Continuing"/>
                        <xs:enumeration value="Ended"/>
                        <xs:enumeration value="Cancelled"/>
                        <xs:enumeration value="Hiatus"/>
                        <xs:enumeration value="In Production"/>
                        <xs:enumeration value="Planned"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="studio" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Production studios or networks that produced or aired the show.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="200"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="trailer" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        URL or path to the show or episode trailer.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="1000"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="actor" type="PersonType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Cast members who appear in the show or episode, including their character names and roles.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="namedseason" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Named seasons with custom titles (e.g., "Season 1: Genesis", "The Final Season").
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="number" use="required">
                                <xs:annotation>
                                    <xs:documentation>Season number this name applies to</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:nonNegativeInteger">
                                        <xs:maxInclusive value="100"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="intro" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Timing information for the show's opening sequence or intro.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="start" use="required">
                                <xs:annotation>
                                    <xs:documentation>Start time in seconds</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:nonNegativeInteger">
                                        <xs:maxInclusive value="86400"/>  <!-- Max 24 hours -->
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                            <xs:attribute name="end" use="required">
                                <xs:annotation>
                                    <xs:documentation>End time in seconds</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:positiveInteger">
                                        <xs:maxInclusive value="86400"/>  <!-- Max 24 hours -->
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="credits" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Timing information for the episode's end credits sequence.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="start" use="required">
                                <xs:annotation>
                                    <xs:documentation>Start time in seconds</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:nonNegativeInteger">
                                        <xs:maxInclusive value="86400"/>  <!-- Max 24 hours -->
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                            <xs:attribute name="end" use="required">
                                <xs:annotation>
                                    <xs:documentation>End time in seconds</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:positiveInteger">
                                        <xs:maxInclusive value="86400"/>  <!-- Max 24 hours -->
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="chapter" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Chapter markers for the episode with optional names and timing information.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="name" use="optional">
                                <xs:annotation>
                                    <xs:documentation>Optional chapter name or title</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="100"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                            <xs:attribute name="start" use="required">
                                <xs:annotation>
                                    <xs:documentation>Chapter start time in seconds</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:nonNegativeInteger">
                                        <xs:maxInclusive value="86400"/>  <!-- Max 24 hours -->
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                            <xs:attribute name="end" use="required">
                                <xs:annotation>
                                    <xs:documentation>Chapter end time in seconds</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:positiveInteger">
                                        <xs:maxInclusive value="86400"/>  <!-- Max 24 hours -->
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
